.wrapper {
  height: 100vh;
  width: 100vw;
}

.container-left {
  display: inline-block;
  width: 60%;
  margin-top: 25%;
  padding-left: 136px;
}

.container-right {
  display: inline-block;
  background-color: rgba(93, 93, 125, 0.16);
  height: 100vh;
  width: 40%;
  position: absolute;
}

img {
  position: relative;
  top: 25%;
  right: 17%;
}

h1 {
  font-size: 70px;
  line-height: 80px;
}

p {
  font-size: 28px;
  line-height: 48px;
  opacity: 0.6;
  margin: 15px 0;
  width: 80%;
}

button {
  width: 269px;
  height: 62px;
  background: #9499ea;
  box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

a {
  font-size: 28px;
  line-height: 41px;
  margin-right: 41px;
  text-decoration: none;
  cursor: pointer;
}

a:nth-child(2) {
  opacity: 0.4;
}

a:nth-child(2):hover {
  opacity: 0.7;
}

a:nth-child(2):active {
  opacity: 0.9;
}

a:hover {
  opacity: 0.4;
}

a:active {
  opacity: 0.8;
}

header {
  margin: 24px 0 0 57px;
}
